$colors: (
    common: (
        white: #ffffff,
        black: #000,
        placeholder: #c6c6c6,
        heading: #1f242c,
        body-text: #1f242c,

        // Update Common Color
        orange: #F79210
    ),
    theme: (
        1: #0E84E1,
        2: #0a0a09,
        3: #6551B3,

        // Update Theme Color
        4: #9747FF,
        5: #4285F4,
        
    ),
    text: (
        1:#999999, 
        2:#aaaaaa,
        3:#141d38,
        4:#777777,
        5:#bdbdbd,
        6:#e4e4e5,
        7:#7b818d,
        8:#8f96a0,
        9:#a7adb8,

        // Update Text Color
        10: #BFDCF2,
        11: #161A33,
        13: #606060,
        14: #8E8E8E,
        15: #D9D9D9,
        16: #848484,
        17: #535353,
        18: #A0A0A0,
        19: #484848,
        20: #E2E2E2,
        21: #1F4941,
        22: #3F3F3F,
        23: #A89F94,
    ),
    bg: (
        black-russian:#1a1e25,
        grey-1:#f7f7f7,
        grey-2:#f8f8f8,
        grey-3:#f3f3f3,
        grey-4:#f2f3f5,
        charcoal:#232932,
        footer: #1a1e25,

        // Update BG Color
        1: #161A33,
        2: #252525,
        3: #EFEFEF,
        4: #B0B0B0,
        5: #FAFAFA,
        6: #EEF8FF,
        7: #EA4335,
        8: #FBBC05,
        9: #34A853,
        10: #05FBC0,
        11: #F1F1F1,

    ),
    border: (
        1: #344166,
        2: #ebeff3,
        3: #f6f6f6,
        4: #22262e,
        5: #f4f4f4,
        6: #f9f9f9,
        7:#ececec,
        8:#5ca1df,
        9:#eeeeee,
        10:#ededed,
        11:#f0f0f5,

        // Update Border Color
        12: #AEAEAE,
        13: #BCBCBC,
        14: #555555,
        15: #CFCFCF,
        16: #DFD8CE,
        17: #D2D2D2,
        18: #717171,
        19: #C0CCD8,
        20: #D7D7D7,
        21: #D4D4D4,
        
    ),

    
    footer: (
        
        1: #9ba1ad,

        // Update Footer Color 
    )
);
  